/*
  ========================================
  Imports, variables and mixins
  ========================================
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
.p-y-menu {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-x-default {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ========================================
  General styling
  ========================================
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 900;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.desktop {
  display: none;
}

.heading {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 25px;
}

.font-orange {
  color: #ec5242;
}

.font-black {
  color: black;
}

.color-grey {
  color: #d3d3d3;
}

.background-black {
  background-color: black;
}

.center-text {
  text-align: center;
}

.fill-fit {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.minimal {
  border: none;
  background: none;
  text-decoration: none;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
  ========================================
  Positioning classes
  ========================================
*/
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.sticky {
  z-index: 100;
}

/*
  ========================================
  Font styling classes
  ========================================
*/
.heading-35 {
  font-size: 35px;
}

.font-bigger {
  font-size: 20px;
}

.font-big {
  font-size: 18px;
}

.font-normal {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.font-smallest {
  font-size: 12px;
}

.weight-bold {
  font-weight: 700;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-medium {
  font-weight: 500;
}

.weight-regular {
  font-weight: 400;
}

.body-30 {
  font-size: 30px;
}

.font-18 {
  font-size: 18px;
}

.italic {
  font-style: italic;
}

/*
  ========================================
  Spacing classes
  ========================================
*/
.m-l-2vw {
  margin-left: 2vw;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-x-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-x-10 {
  padding: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.p-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-x-25-res {
  padding-top: 25%;
  padding-bottom: 25%;
}

.p-30 {
  padding: 30px;
}

.p-x-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-t-55 {
  padding-top: 55px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.min-h-200 {
  min-height: 200px;
}

/*
  ========================================
  Headline
  ========================================
*/
#headline {
  height: 100vh;
  background: url(../images/backgrounds/headline.jpg);
  background-position: center;
  background-color: white;
  background-blend-mode: luminosity;
}

#headline > * + * {
  margin-top: 10px;
}

#headline .background-text {
  background: url(../images/backgrounds/headline-text.jpg);
  background-position: right 39% bottom 25%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

#headline .tagline {
  border: 2px solid white;
  background-color: black;
}

/*
  ========================================
  Divider
  ========================================
*/
.divider {
  background: url(../images/divider.jpg);
  height: 29px;
}

/*
  ========================================
  Program
  ========================================
*/
#program .program-card {
  background-color: rgba(255, 255, 255, 0.25);
}

#program .program-button {
  background-color: #ec5242;
  border: none;
  color: inherit;
}

/*
========================================
Grey pattern for Program and Partners
========================================
*/
.background-pattern {
  background: url(../images/backgrounds/grey-pattern.jpg);
  background-size: cover;
  background-position: center;
}

/*
========================================
Custom width bottom border for Program and Featured Bands
========================================
*/
.border-bottom:after {
  content: '';
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  padding-top: 15px;
}

.cards-heading:after {
  border-bottom-color: #ec5242;
  width: 15%;
}

/*
========================================
Featured Bands
========================================
*/
#bands .band .band-country:after {
  border-bottom-color: #d3d3d3;
  width: 7.5%;
}

.partner-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner-row div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.partner-row div img {
  height: 5vw;
  min-height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

/*
========================================
CSS specific to About page
========================================
*/
.border-default {
  border: 2px solid #d3d3d3;
}

.border-orange {
  border: 2px solid #ec5242;
}

.event:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec5242;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .p-x-default {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .desktop {
    display: unset;
  }
  .mobile {
    display: none;
  }
  /*
  ========================================
  Desktop header
  ========================================
  */
  .menu-logo {
    height: calc(60px - (15px * 2));
  }
}
/*# sourceMappingURL=style.css.map */