/*
  ========================================
  Imports, variables and mixins
  ========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


$heading-font: 'Work Sans', sans-serif;
$body-font: 'Lato', sans-serif;
$orange: #ec5242;
$grey: #d3d3d3;
$p-y-menu: 15px;

//Horizontal menu padding
@mixin p-y-menu($p-y-menu) {
  .p-y-menu {
    padding-top: $p-y-menu;
    padding-bottom: $p-y-menu;
  }
}
@include p-y-menu($p-y-menu: 15px);

//Default horizontal padding used throughout page
@mixin default-padding-x($default-padding-x) {
  .p-x-default {
    padding-left: $default-padding-x;
    padding-right: $default-padding-x;
  }
}
@include default-padding-x($default-padding-x: 15px);

/*
  ========================================
  General styling
  ========================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-weight: 400;
  color: white;
}

h1 {
  font-family: $heading-font;
  font-size: 45px;
  font-weight: 900;
}

h2 {
  font-family: $heading-font;
  font-size: 25px;
  font-weight: 600;
}

.desktop {
  display: none;
}

.heading {
  font-family: $heading-font;
  font-weight: 800;
  font-size: 25px;
}

.font-orange {
  color: #ec5242;
}

.font-black {
  color: black;
}

.color-grey {
  color: $grey;
}

.background-black {
  background-color: black;
}

.center-text {
  text-align: center;
}

.fill-fit {
  height: 100%;
  object-fit: cover;
}

.minimal {
  border: none;
  background: none;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/*
  ========================================
  Positioning classes
  ========================================
*/

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.sticky {
  z-index: 100;
}

/*
  ========================================
  Font styling classes
  ========================================
*/

.heading-35 {
  font-size: 35px;
}

.font-bigger {
  font-size: 20px
}

.font-big {
  font-size: 18px;
}

.font-normal {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.font-smallest {
  font-size: 12px;
}

.weight-bold {
  font-weight: 700;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-medium {
  font-weight: 500;
}

.weight-regular {
  font-weight: 400;
}

.body-30 {
  font-size: 30px;
}

.font-18 {
  font-size: 18px;
}

.italic {
  font-style: italic;
}

/*
  ========================================
  Spacing classes
  ========================================
*/



.m-l-2vw {
  margin-left: 2vw;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-10 {
  margin: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-x-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-t-30 {
  margin-top: 30px;
}

// .m-t-10 {
//   margin-top: 10px;
// }

.p-x-10 {
  padding: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.p-x-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-x-25-res {
  padding-top: 25%;
  padding-bottom: 25%;
}

.p-30 {
  padding: 30px;
}

.p-x-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-t-55 {
  padding-top: 55px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.min-h-200 {
  min-height: 200px;
}

/*
  ========================================
  Headline
  ========================================
*/

#headline {
  height: 100vh;
  background: url(../images/backgrounds/headline.jpg);
  background-position: center;
  background-color: white;
  background-blend-mode: luminosity;
  
  > * + * {
    margin-top: 10px;
  }

  .background-text {
    background: url(../images/backgrounds/headline-text.jpg);
    background-position: right 39% bottom 25%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(200%);
  }

  .tagline {
    border: 2px solid white;
    background-color: black;
  }
}

/*
  ========================================
  Divider
  ========================================
*/

.divider {
  background: url(../images/divider.jpg);
  height: 29px;
}

/*
  ========================================
  Program
  ========================================
*/

#program {
  .program-card {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .program-button {
    background-color: $orange;
    border: none;
    color: inherit;
  }
}

/*
========================================
Grey pattern for Program and Partners
========================================
*/

.background-pattern {
  background: url(../images/backgrounds/grey-pattern.jpg);
  background-size: cover;
  background-position: center;
}

/*
========================================
Custom width bottom border for Program and Featured Bands
========================================
*/

//Common CSS
.border-bottom {
  &:after {
    content: '';
    height: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    padding-top: 15px;
  }
}

//Custom CSS for bottom border of cards heading in Program and Featured Bands
.cards-heading {
  &:after {
    border-bottom-color: $orange;
    width: 15%;
  }
}

/*
========================================
Featured Bands
========================================
*/

#bands {
  .band {
    //Custom CSS for bottom border of country name
    .band-country {
      &:after {
        border-bottom-color: $grey;
        width: 7.5%;
      }
    }
  }
}

.partner-row {
  flex-wrap: wrap;
  div {
    flex-grow: 1;
    img {
      height: 5vw;
      min-height: 25px;
      object-fit: contain;
      filter: brightness(0) invert(1);
    }
  }
}

/*
========================================
CSS specific to About page
========================================
*/

.border-default {
  border: 2px solid $grey;
}

.border-orange {
  border: 2px solid $orange;
}

.event {
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $orange;
    opacity: 0.5;
  }
}

@media (min-width: 768px) {

  // Set values for menu-height and p-y-menu
  // to automatically style height of menu-logo
  $menu-height: 60px;

  //Default horizontal padding
  @include default-padding-x($default-padding-x: 10vw);

  .desktop {
    display: unset;
  }

  .mobile {
    display: none;
  }

  .link-unstyle {
    text-decoration: none;
  }

  /*
  ========================================
  Desktop header
  ========================================
  */
  
  .menu-logo {
    height: calc(#{$menu-height} - (#{$p-y-menu} * 2));
  }

}