@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


$heading-font: 'Work Sans', sans-serif;
$body-font: 'Lato', sans-serif;
$nav-height: 21px;
$m-t-10: 10px;
$m-b-10: 10px;
$orange: #ec5242;

/*
  ========================================
  General styling
  ========================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-weight: 400;
  color: white;
}

h1 {
  font-family: $heading-font;
  font-size: 45px;
  font-weight: 900;
}

h2 {
  font-family: $heading-font;
  font-size: 25px;
  font-weight: 600;
}

.desktop {
  display: none;
}

.heading {
  font-family: $heading-font;
  font-weight: 800;
  font-size: 25px;
}

.font-orange {
  color: #ec5242;
}

.vertical-center {
  text-align: center;
}

.fill-fit {
  height: 100%;
  object-fit: cover;
}

/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/*
  ========================================
  General spacing classes
  ========================================
*/

.body-30 {
  font-size: 30px;
}

.font-18 {
  font-size: 18px;
}

.font-bold {
  font-weight: 700;
}

.font-small {
  font-size: 14px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

// .m-t-10 {
//   margin-top: 10px;
// }

.p-x-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-20 {
  padding: 20px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-45 {
  width: 45%;
}

/*
  ========================================
  Headline
  ========================================
*/

#headline {
  height: calc(100vh - 21px);
  background: url(../images/background-headline.jpg);
  background-position: center;
  background-color: white;
  background-blend-mode: luminosity;
  
  > * + * {
    margin-top: 10px;
  }

  .background-text {
    background: url(../images/background-text.jpg);
    background-position: right 39% bottom 25%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(200%);
  }

  .tagline {
    border: 2px solid white;
    background-color: black;
  }
}

/*
  ========================================
  Divider
  ========================================
*/

.divider {
  background: url(../images/divider.jpg);
  height: 29px;
}

/*
  ========================================
  Program
  ========================================
*/

#program {
  background: url(../images/background-program.jpg);
  background-size: cover;
  background-position: center;

  //short orange border underneath "Program"
  .program-heading::after {
    content: '';
    height: 1px;
    width: 15%;
    border-bottom: 1px solid $orange;
    display: block;
    padding-top: 15px;
  }

  .program-card {
    background-color: rgba(255, 255, 255, 0.25);
  }
}