/*
  ========================================
  Imports, variables and mixins
  ========================================
*/

@import 'imports/flex.scss';
@import 'imports/font.scss';
@import 'imports/general-utilities.scss';
@import 'imports/custom.scss';

$orange: #ec5242;
$grey: #d3d3d3;
$p-x-default: 15px;
$p-y-menu: 15px;
$m-l-menu: 1vw;
$p-r-headline: 0;
$size-subheading: 30px;

//Horizontal menu padding
@mixin p-y-menu($p-y-menu) {
  .p-y-menu {
    padding-top: $p-y-menu;
    padding-bottom: $p-y-menu;
  }
}

@include p-y-menu($p-y-menu: 15px);

//Margin to the left of each menu item
@mixin m-l-menu($m-l-menu) {
  .m-l-menu {
    margin-left: $m-l-menu;
  }
}

//Default horizontal padding used throughout page
@mixin p-x-default($p-x-default) {
  .p-x-default {
    padding-left: $p-x-default;
    padding-right: $p-x-default;
  }
}

@include p-x-default($p-x-default: 15px);

//Default vertical padding used throughout page
@mixin p-y-default($p-y-default) {
  .p-y-default {
    padding-top: $p-y-default;
    padding-bottom: $p-y-default;
  }
}

@include p-y-default($p-y-default: 30px);

//Font size for text above h1
@mixin size-subheading($size-subheading) {
  .size-subheading {
    font-size: $size-subheading;
  }
}

@include size-subheading($size-subheading: 30px);

//Padding to the right of headline
//(overrides padding-right in p-x-default)
@mixin p-r-headline($p-r-headline) {
  .p-r-headline {
    padding-right: $p-r-headline;
  }
}

/*
  ========================================
  General styling
  ========================================
*/

body {
  font-family: $body-font;
  font-weight: 400;
  color: white;
}

h1 {
  font-family: $heading-font;
  font-size: 45px;
  font-weight: 900;
}

h2 {
  font-family: $heading-font;
  font-size: 25px;
  font-weight: 600;
}

.color-orange {
  color: #ec5242;
}

.color-grey {
  color: $grey;
}

.color-white {
  color: white;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: $orange;
}

.border-default {
  border: 2px solid $grey;
}

.border-orange {
  border: 2px solid $orange;
}

/*
  ========================================
  Mobile menu
  ========================================
*/

.show-menu {
  display: unset;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: $p-x-default;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);

  button {
    float: right;
    margin-bottom: $p-x-default;
  }

  a {
    display: block;
    clear: right;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
  }
}

/*
  ========================================
  Headline
  ========================================
*/

//Set background for headline and for heading text
#headline {
  background-image: url(../images/backgrounds/headline.webp);
  background-position: center;

  .background-text {
    background-image: url(../images/backgrounds/headline-text.webp);
    background-position: right 39% bottom 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(200%);
  }
}

/*
  ========================================
  Divider image used between sections
  ========================================
*/

.divider {
  background-image: url(../images/divider.webp);
  height: 29px;
}

/*
  ========================================
  Program
  ========================================
*/

//Set transparency of background colour
.program-card {
  background-color: rgba(211, 211, 211, 0.25);
}

/*
========================================
Grey pattern background for Program and Partners
========================================
*/

.bg-pattern {
  background-image: url(../images/backgrounds/grey-pattern.webp);
  background-size: cover;
  background-position: center;
}

/*
========================================
Section heading in Program and Featured Bands
========================================
*/

//Set bottom border of section heading using border-bottom class
.section-heading {
  &::after {
    border-bottom-color: $orange;
    width: 40px;
  }
}

/*
========================================
Featured Bands
========================================
*/

//Set bottom border of country name using border-bottom class
.band-country {
  &::after {
    border-bottom-color: $grey;
    width: 20px;
  }
}

/*
========================================
Footer
========================================
*/

//Apply black filter using bg-filter class
footer {
  background-image: url(../images/backgrounds/footer.webp);
  background-size: cover;
  background-position: left 0 bottom 35%;
  z-index: 1;

  &::after {
    background-color: black;
    opacity: 0.75;
    z-index: 2;
  }

  > * {
    z-index: 3;
  }
}

/*
========================================
Past Dethfests
========================================
*/

//Apply orange filter using bg-filter class
.event {
  z-index: 1;

  &::after {
    background-color: $orange;
    opacity: 0.5;
    z-index: 2;
  }

  .event-text {
    z-index: 3;
  }
}

@media (min-width: 768px) {

  // Set values for menu-height and p-y-menu
  // to automatically style height of menu-logo
  $menu-height: 60px;

  @include p-x-default($p-x-default: 10vw);
  @include p-y-default($p-y-default: 45px);
  @include m-l-menu($m-l-menu: 1vw);
  @include size-subheading($size-subheading: 40px);
  @include p-r-headline($p-r-headline: 40vw);

  /*
  ========================================
  Desktop header
  ========================================
  */

  .menu-logo {
    height: calc(#{$menu-height} - (#{$p-y-menu} * 2));
  }

  h1 {
    font-size: 60px;
  }
}

@media (min-width: 768px) and (max-width: 890px) {
  @include p-r-headline($p-r-headline: 30vw);
}

@media (min-width: 850px) {

  //Increase margin between menu links even more when going up desktop sizes
  @include m-l-menu($m-l-menu: 2vw);
}
