<!-- Headline -->

<section id="headline" class="flex-col justify-center p-t-55 p-x-15">

  <p class="body-30 font-orange center-text">Revival</p>

  <h1 class="background-text m-b-10 center-text">DETHFEST CONCERT 2022</h1>

  <p class="tagline m-b-10 p-20 center-text">The Global Summit brings together the community of experts, academics, and activists who comprise the Creative Commons affiliate network in a different country every two. This year, we hope to expand our invitation list including organizations and individuals.</p>

  <p class="font-small center-text">Please contact us by e-mail for any further questions about Dethfest 2022!<br><a href="mailto:contact@dethfest.com">contact@dethfest.com</a>
  </p>

</section>

<section class="divider"></section>

<!-- Dethfest 2020 Logo -->

<section class="flex-col background-pattern p-x-20 p-y-30">
  <h2 class="flex-col align-center cards-heading border-bottom m-b-15">Dethfest 2022 Logo</h2>
  <p class="font-small center-text m-x-20 m-b-30">The logo of Dethfest 2022 was decided through the logo competition from 8. June to 7. July.</p>
  <div class="border-default p-30"><img class="w-100" src="images/about/dethfest-white.png"></div>
</section>

<section class="divider"></section>

<!-- Section: Past Dethfests -->

<section class="flex-col background-black p-30">
 
  <h2 class="flex-col align-center cards-heading border-bottom m-b-15">See the past Dethfests</h2>
 
  <p class="font-small center-text m-x-20 m-b-30">Take a look at the last two Dethfests which took place in Sweden and France</p>

  <!-- Dethfest 2019 -->
  <div class="event m-b-15 position-relative">
    <img class="w-100 min-h-200 fill-fit" src="images/about/dethfest-2019.jpg">
    <div class="event-text flex-col justify-center align-center heading position-absolute w-h-100">
      <span class="heading-35 weight-bold m-b-10">2019</span>
      <span class="font-big weight-medium">Dethfest 2019 in France</span>
    </div>
  </div>

  <!-- Dethfest 2018 -->
  <div class="event position-relative">
    <img class="w-100 min-h-200 fill-fit" src="images/about/dethfest-2018.jpg">
    <div class="event-text flex-col justify-center align-center heading position-absolute w-h-100">
      <span class="heading-35 weight-bold m-b-10">2018</span>
      <span class="font-big weight-medium">Dethfest 2018 in Sweden</span>
    </div>
  </div>

</section>

<section class="divider"></section>

