<footer class="flex-col p-x-default position-relative bg-white bg-blend-luminosity bg-filter">

  <div class="flex-row justify-between p-y-default">

    <div class="flex-col justify-center w-45">
      <img class="max-h-40 fit-contain" src="images/dethfest-white.webp" alt="Dethfest logo">
    </div>

    <p class="flex-col justify-center align-center w-45 color-white font-smallest">
      2021 Dethfest. No Rights Reserved.
    </p>

  </div>

  <p class="center-text italic font-smallest m-b-15">
    Made with love, coffee, and metal by <a class="color-white weight-bold" href="https://github.com/AkashaRojee">Akasha Rojee</a>
  </p>

</footer>