<header>
  <nav class="flex-row justify-between align-center position-fixed sticky bg-black w-100 p-x-default p-y-menu">     
    <a class="desktop" href="https://akasharojee.github.io/concert-website/">
      <img class="menu-logo" src="images/dethfest-white.png" alt="Dethfest logo" />
    </a>
    <button type="button" class="mobile menu-button minimal">
      <i class="fas fa-bars fa-3x color-grey"></i>
    </button>
    <div class="menu-links desktop font-small weight-bold">
      <button class="minimal mobile" type="button"><i class="fas fa-window-close fa-3x color-grey"></i></button>
      <a class="minimal color-orange" href="/about">About</a>
      <a class="minimal color-grey m-l-menu" href="./#program">Program</a>
      <a class="minimal color-grey m-l-menu" href="./#bands">Bands</a>
      <a class="minimal color-grey m-l-menu" href="#join">Join</a>
      <a class="minimal color-grey m-l-menu" href="#partners">Partners</a>
      <a class="minimal color-grey m-l-menu" href="#news">News</a>
      <a class="minimal color-orange m-l-menu p-x-10 p-y-7h border-orange" href="#campaign">CC Campaign</a>
    </div>
  </nav>
</header>