<!-- Headline -->

<section id="headline" class="flex-col justify-center p-t-55 p-x-15">

  <p class="body-30 font-orange">Revival</p>

  <h1 class="background-text m-b-10">DETHFEST CONCERT 2021</h1>

  <p class="tagline m-b-10 p-20">A joyful celebration beliving in the value of openness and sharing, creating a positive change with people from over 80 countries is taking place in October, in Korea</p>

  <p class="heading">2021.10.15(THU) ~ 16(FRI)</p>

  <p class="body-18">@ National Museum of Korea, Art Center Nabi and more</p>

</section>

<section class="divider"></section>

<section id="program" class="background-pattern p-x-15 p-y-30">
  <h2 class="cards-heading border-bottom flex-col align-center m-b-30">Program</h2>

  <!-- Program: Bands -->
  <div class="program-card flex-row justify-around p-20 m-b-15">
    <div class="program-image flex-col justify-center w-30">
      <img class="fill-fit" src="images/program/bands.jpg">
    </div>
    <span class="program-title flex-col justify-center w-25 m-l-15 font-orange font-18 font-bold vertical-center">
      Bands
    </span>
    <p class="program-description flex-col justify-center w-45 m-l-15 font-small">
      Watch live some of the best Death Metal bands out there on a spectacular stage.
    </p>
  </div>

  <!-- Program: Talks -->
  <div class="program-card flex-row justify-around p-20 m-b-15">
    <div class="program-image flex-col justify-center w-30">
      <img class="fill-fit" src="images/program/talks.jpg">
    </div>
    <span class="program-title flex-col justify-center w-25 m-l-15 font-orange font-18 font-bold vertical-center">
      Talks
    </span>
    <p class="program-description flex-col justify-center w-45 m-l-15 font-small">
      More than growls and blast beats. Hear what musicians have to say.
    </p>
  </div>

  <!-- Program: Shows -->
  <div class="program-card flex-row justify-around p-20 m-b-15">
    <div class="program-image flex-col justify-center w-30">
      <img class="fill-fit" src="images/program/shows.jpg">
    </div>
    <span class="program-title flex-col justify-center w-25 m-l-15 font-orange font-18 font-bold vertical-center">
      Shows
    </span>
    <p class="program-description flex-col justify-center w-45 m-l-15 font-small">
      Adrenaline-fuelled shows with fire acts, acrobatics, sword fights, and more.
    </p>
  </div>

  <!-- Program: Karaoke -->
  <div class="program-card flex-row justify-around p-20">
    <div class="program-image flex-col justify-center w-30">
      <img class="fill-fit" src="images/program/karaoke.jpg">
    </div>
    <span class="program-title flex-col justify-center w-25 m-l-15 font-orange font-18 font-bold vertical-center">
      Karaoke
    </span>
    <p class="program-description flex-col justify-center w-45 m-l-15 font-small">
      At the end of each day, Metal karaokes to relax around or show your talents.
    </p>
  </div>

  <div class="flex-row justify-center m-t-30">
    <button class="flex-row justify-center p-20 program-button" type="button">
      <span class="heading semi-bold font-18">Join Deathfest 2021</span>
    </button>
  </div>

</section>

<section class="divider"></section>

<!-- Featured Bands -->

<section id="bands" class="background-black p-x-15 p-y-30">

  <h2 class="cards-heading border-bottom flex-col align-center m-b-30">Featured Bands</h2>

  <div class="band flex-col m-b-60">
    <img class="band-image flex-row m-b-10" src="images/bands/obscura.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">Germany</span>
    <p class="band-description flex-row font-smallest">Groundbreaking polyrhythms, dramatic songwriting, and jaw-dropping virtuosity, combining different forms of technical, cerebral metal into a coherent synthesis of death, thrash and black metal merged with progressive elements</p>
  </div>

  <div class="band flex-col m-b-60">
    <img class="band-image flex-row m-b-10" src="images/bands/ne-obliviscaris.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">Australia</span>
    <p class="band-description flex-row font-smallest">Extreme progressive metal, combining a duality of blasting black and death metal, with softer classically-influenced progressive tendencies, including violin, cleaning singing and acoustic</p>
  </div>

  <div class="band flex-col m-b-60">
    <img class="band-image flex-row m-b-10" src="images/bands/opeth.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">Sweden</span>
    <p class="band-description flex-row font-smallest">Leading force in progressive metal with death roots, fusioning death and prog with acoustic instrumentation and establishing themselves as one of the most influential bands in the genre</p>
  </div>

  <div class="band flex-col m-b-60">
    <img class="band-image flex-row m-b-10" src="images/bands/dark-tranquillity.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">Sweden</span>
    <p class="band-description flex-row font-smallest">One of the pioneers of the Gothenburg sound and creators of the explosive subgenre that combined death metal's intensity, progressive, and gothic experimentation with hooky, melodic, groove-oriented riffs and twin-guitar lead lines</p>
  </div>

  <div class="band flex-col m-b-60">
    <img class="band-image flex-row m-b-10" src="images/bands/ulcerate.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">New Zealand</span>
    <p class="band-description flex-row font-smallest">A maelstrom of abrasive, dissonant art-metal guitars, thunderous blastbeats, and vocal roars evoking an all-encompassing sense of crushing dread</p>
  </div>

  <div class="band flex-col">
    <img class="band-image flex-row m-b-10" src="images/bands/alkaloid.png">
    <span class="band-country border-bottom flex-col italic font-orange m-b-15">Germany</span>
    <p class="band-description flex-row font-smallest">Defined through the field of tension created between musical opposites, merging extreme metal and other more diverse genres of music into a unique style, making death metal more than just blastbeats and growls.</p>
  </div>

</section>

<section class="divider"></section>