<!-- Headline -->

<section id="headline" class="flex-col justify-center fill-vh bg-white bg-blend-luminosity p-t-55 p-x-default p-r-headline">

  <p class="size-subheading color-orange">Revival</p>

  <h1 class="background-text m-y-10">DETHFEST CONCERT 2021</h1>

  <p class="bg-black border-default m-y-10 p-20">A joyful celebration beliving in the value of openness and sharing, creating a positive change with people from over 80 countries is taking place in October, in Korea</p>

  <p class="heading heading-25 weight-black m-t-10">2021.10.15(THU) ~ 16(FRI)</p>

  <p class="font-big m-t-10">@ National Museum of Korea, Art Center Nabi and more</p>

</section>

<section class="divider"></section>

<section id="program" class="flex-col bg-pattern p-x-default p-y-default">
  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Program</h2>
  
  <div class="flex-col justify-between d-flex-row">
    <!-- Program: Bands -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/bands.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Bands
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        Watch live some of the best Death Metal bands out there on a spectacular stage.
      </p>
    </div>

    <!-- Program: Talks -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/talks.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Talks
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        More than growls and blast beats. Hear what musicians have to say.
      </p>
    </div>

    <!-- Program: Shows -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/shows.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Shows
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        Adrenaline-fuelled shows with fire acts, acrobatics, sword fights, and more.
      </p>
    </div>

    <!-- Program: Karaoke -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/karaoke.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Karaoke
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        At the end of each day, Metal karaokes to relax around or show your talents.
      </p>
    </div>
  </div>

  <div class="flex-row justify-center m-t-15">
    <button class="mobile flex-row justify-center color-white bg-orange p-20 minimal" type="button">
      <span class="heading heading-25 weight-semi-bold font-big">Join Dethfest 2021</span>
    </button>
    <a class="desktop color-grey weight-medium" href="#">SEE THE WHOLE PROGRAM</a>
  </div>

</section>

<section class="divider"></section>

<!-- Featured Bands -->

<section id="bands" class="bg-black p-x-default p-y-default">

  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Featured Bands</h2>
  
  <div class="bands-col-container flex-row wrap">
    <div class="band-col flex-col w-100 d-w-50">
      <div class="band flex-col m-b-60 d-m-r-45">
        <img class="band-image flex-row m-b-10" src="images/bands/obscura.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">Germany</span>
        <p class="band-description flex-row font-smallest">Groundbreaking polyrhythms, dramatic songwriting, and jaw-dropping virtuosity, combining different forms of technical, cerebral metal into a coherent synthesis of death, thrash and black metal merged with progressive elements</p>
      </div>

      <div class="band flex-col m-b-60 d-m-r-45">
        <img class="band-image flex-row m-b-10" src="images/bands/ne-obliviscaris.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">Australia</span>
        <p class="band-description flex-row font-smallest">Extreme progressive metal, combining a duality of blasting black and death metal, with softer classically-influenced progressive tendencies, including violin, clean singing and acoustic</p>
      </div>

      <div class="band flex-col m-b-60 d-m-r-45">
        <img class="band-image flex-row m-b-10" src="images/bands/dark-tranquillity.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">Sweden</span>
        <p class="band-description flex-row font-smallest">One of the pioneers of the Gothenburg sound and creators of the explosive subgenre that combined death metal's intensity, progressive, and gothic experimentation with hooky, melodic, groove-oriented riffs and twin-guitar lead lines</p>
      </div>
    </div>
    
    <div class="band-col flex-col w-100 d-w-50">
      <div class="band flex-col m-b-60 d-m-l-45">
        <img class="band-image flex-row m-b-10" src="images/bands/opeth.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">Sweden</span>
        <p class="band-description flex-row font-smallest">Leading force in progressive metal with death roots, fusioning death metal and prog with soft vocals, mellow ballads and acoustic instrumentation and establishing themselves as one of the most influential bands in the genre</p>
      </div>

      <div class="band flex-col m-b-60 d-m-l-45">
        <img class="band-image flex-row m-b-10" src="images/bands/ulcerate.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">New Zealand</span>
        <p class="band-description flex-row font-smallest">A maelstrom of abrasive, dissonant art-metal guitars, ultra-atmospheric blend, thunderous blastbeats, and vocal roars evoking an all-encompassing sense of crushing dread</p>
      </div>

      <div class="band flex-col d-m-l-45">
        <img class="band-image flex-row m-b-10" src="images/bands/alkaloid.png">
        <span class="band-country border-bottom flex-col italic color-orange m-b-15">Germany</span>
        <p class="band-description flex-row font-smallest">Defined through the field of tension created between musical opposites, merging extreme metal and other more diverse genres of music into a unique style, making death metal more than just blastbeats and growls.</p>
      </div>
    </div>
  </div>

</section>

<section class="divider"></section>