<!-- Headline -->

<section id="headline" class="flex-col justify-center fill-vh bg-white bg-blend-luminosity p-t-55 p-x-default p-r-headline">

  <p class="size-subheading color-orange">Revival</p>

  <h1 class="background-text m-y-10">DETHFEST CONCERT 2021</h1>

  <p class="bg-black border-default m-y-10 p-20">A joyful celebration beliving in the value of openness and sharing, creating a positive change with people from over 80 countries is taking place in October, in Korea</p>

  <p class="heading heading-25 weight-black m-t-10">2021.10.15(THU) ~ 16(FRI)</p>

  <p class="font-big m-t-10">@ National Museum of Korea, Art Center Nabi and more</p>

</section>

<section class="divider"></section>

<section id="program" class="flex-col bg-pattern p-x-default p-y-default">
  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Program</h2>
  
  <div class="flex-col justify-between d-flex-row">
    <!-- Program: Bands -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/bands.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Bands
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        Watch live some of the best Death Metal bands out there on a spectacular stage.
      </p>
    </div>

    <!-- Program: Talks -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/talks.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Talks
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        More than growls and blast beats. Hear what musicians have to say.
      </p>
    </div>

    <!-- Program: Shows -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/shows.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Shows
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        Adrenaline-fuelled shows with fire acts, acrobatics, sword fights, and more.
      </p>
    </div>

    <!-- Program: Karaoke -->
    <div class="program-card justify-between d-justify-unset flex-row d-flex-col d-wrap d-w-24 p-20 m-b-15">
      <div class="program-image flex-col d-flex-row justify-center w-30 d-w-100">
        <img class="h-100 d-w-100 fit-cover" src="images/program/karaoke.jpg">
      </div>
      <span class="program-title flex-col d-flex-row justify-center center-text w-25 d-w-100 color-orange font-big weight-bold vertical-center d-m-t-15">
        Karaoke
      </span>
      <p class="program-description flex-col d-flex-row justify-center w-40 d-w-100 font-small d-m-t-15">
        At the end of each day, Metal karaokes to relax around or show your talents.
      </p>
    </div>
  </div>

  <div class="flex-row justify-center m-t-15">
    <button class="mobile flex-row justify-center color-white bg-orange p-20 minimal" type="button">
      <span class="heading heading-25 weight-semi-bold font-big">Join Dethfest 2021</span>
    </button>
    <a class="desktop color-grey weight-medium" href="#">SEE THE WHOLE PROGRAM</a>
  </div>

</section>

<section class="divider"></section>

<!-- Featured Bands -->

<section id="bands" class="bg-black p-x-default p-y-default">

  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Featured Bands</h2>

  <!-- Band cards are dynamically populated here with JS -->

</section>

<section class="divider"></section>