<!-- Partners -->

<section id="partners" class="background-pattern p-x-15 p-y-30">

  <h2 class="cards-heading border-bottom flex-col align-center m-b-30">Partners</h2>

  <div class="partner-row flex-row">
    <div class="flex-col m-10">
      <img src="/images/partners/metaltix.png">
    </div>
    <div class="flex-col m-10">
      <img src="/images/partners/metal-hammer.png">
    </div>
    <div class="flex-col m-10">
      <img src="/images/partners/wacken.png">
    </div>
    <div class="flex-col m-10">
      <img src="/images/partners/season-of-mist.png">
    </div>
    <div class="flex-col m-10">
      <img src="/images/partners/world-metal-congress.png">
    </div>
  </div>

</section>

<section class="divider"></section>