<section id="partners" class="bg-pattern p-x-default p-y-default">

  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Partners</h2>

  <div class="partner-row flex-row wrap img-white">
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/metaltix.webp" alt="Metaltix logo">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/metal-hammer.webp" alt="Metal Hammer logo">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/wacken.webp" alt="Wacken logo">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/season-of-mist.webp" alt="Season of Mist logo">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/world-metal-congress.webp" alt="World Metal Congress logo">
    </div>
  </div>

</section>

<section class="divider"></section>