<section id="partners" class="bg-pattern p-x-default p-y-default">

  <h2 class="section-heading border-bottom flex-col align-center m-b-30">Partners</h2>

  <div class="partner-row flex-row wrap img-white">
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/metaltix.png">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/metal-hammer.png">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/wacken.png">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/season-of-mist.png">
    </div>
    <div class="flex-col grow m-10">
      <img class="h-3vw min-h-25 fit-contain" src="images/partners/world-metal-congress.png">
    </div>
  </div>

</section>

<section class="divider"></section>