/*
  ========================================
  Reusable Flexbox classes
  ========================================
*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .d-flex-row {
    flex-direction: row;
  }

  .d-flex-col {
    flex-direction: column;
  }

  .d-wrap {
    flex-wrap: wrap;
  }

  .d-justify-unset {
    justify-content: unset;
  }
}